
 /* body{ */
  /* display:flex; */
  /* justify-content:center; */
  /* align-items:center; */
  /* min-height:100vh; */
/* } */

.box{
    width:100px;
    height:100px;
    animation-name:logo;
    animation-duration:3s;
}
@keyframes logo {
    10%{
        width:10px;
        height:10px;
    }
    100%{
       width:100px;
       height:100px;
    }
}